.wrp {
  height: calc(100vh - 100px);
  width: 100%;
  background-color: #000c18;
  display: flex;
  justify-content: center;
  align-items: center;
}


.HomePage {
  width: 50%;
  height: 50%;
  padding: 2rem;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 10px whitesmoke;
  box-shadow: 0 0 30px black;
  border-radius: 10px;
}


/* .HomePage::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
} */